* {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --launch: rgb(204, 144, 233);
    --space_cadet: #22223B;
    --space_cadet_bis: #1d1d32;
    --independance: #4A4E69;
    --heliotrope_gray: #9A8C98;
    --silver_pink: #C9ADA7;
    --isabeline: #F2E9E4;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.active {
    text-decoration: underline solid 1px white;
    text-underline-offset: 10px;
}

.nav {
    background-color: var(--space_cadet);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    text-align: center;
}


.nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav ul li {
    color: var(--isabeline);
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s ease-in-out;
    width: max-content;
}

.nav ul li:hover {
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-decoration: underline solid 1px white;
    text-underline-offset: 10px;
}


a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

#appWebsite {
    padding-top: 80px;
    /* background-image: url(../images/pixel-rain.gif); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--space_cadet) !important;
    background-color: var(--isabeline);
}

#appPassword,
#appQuiz {
    background-color: var(--isabeline);
    color: var(--space_cadet);
}

#appMusic,
#appPorfolio,
#appSurvey {
    background-color: var(--space_cadet);
    color: var(--isabeline);
}

.welcome_container {
    margin: 0 auto;
    padding: 0;
}

.welcome {
    position: relative;
    padding-top: 10%;
}

.navPlaceHolder {
    height: 80px;
    width: 100%;
}

.welcome ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

/* sticky bar on top of the page */
.welcome ul li {
    display: inline-block;
    width: 100px;
    color: var(--space_cadet);
    line-height: 100px;
    padding: 0 30px;
    margin: 15px;
    /* for perfectly round angle */
    border-radius: 9999px;
    transition: all .25s ease-in-out;

    border: 4px solid var(--isabeline);
    box-shadow: 8px 8px 12px rgb(154, 140, 152, 0.8),
        -8px -8px 12px rgb(201, 173, 167, 0.8);
}

.welcome ul li:hover {
    color: var(--launch);

    box-shadow: 4px 4px 6px rgb(154, 140, 152, 0.6),
        -4px -4px 6px rgb(201, 173, 167, 0.3),
        inset 4px 4px 6px rgb(154, 140, 152, 0.6),
        inset -4px -4px 6px rgb(201, 173, 167, 0.3);
    text-shadow: 4px 4px 2px rgb(154, 140, 152, 0.6);
}

section {
    height: 100vh;
    text-align: center;
}

.appDesc {
    padding-top: 120px;
}

/* button app launcher */
.appLaunch {
    line-height: 30px;
    padding: 30px;
    /* for perfectly round angle */
    border-radius: 9999px;
    transition: all .25s ease-in-out;
}

.appLaunch:hover {
    color: var(--launch);
}

.launchDark {
    border: 4px solid var(--space_cadet);
    box-shadow: 10px 10px 15px rgb(22, 22, 38),
        -10px -10px 15px rgb(46, 46, 80);
}

.launchDark:hover {
    box-shadow: 4px 4px 6px rgba(22, 22, 38, 0.6),
        -4px -4px 6px rgba(46, 46, 80, 0.3),
        inset 4px 4px 6px rgba(22, 22, 38, 0.6),
        inset -4px -4px 6px rgba(46, 46, 80, 0.3);
    text-shadow: 4px 4px 2px rgba(235, 215, 215, 0.384);
}

.launchLight {
    border: 4px solid var(--isabeline);
    box-shadow: 8px 8px 12px rgb(154, 140, 152, 0.8),
        -8px -8px 12px rgb(201, 173, 167, 0.8);
}

.launchLight:hover {
    box-shadow: 4px 4px 6px rgb(154, 140, 152, 0.6),
        -4px -4px 6px rgb(201, 173, 167, 0.3),
        inset 4px 4px 6px rgb(154, 140, 152, 0.6),
        inset -4px -4px 6px rgb(201, 173, 167, 0.3);
    text-shadow: 4px 4px 2px rgb(154, 140, 152, 0.6);
}

.appName {
    display: inline-block;
}

.appIcon {
    display: inline-block;
    background-size: contain;
    padding: 30px;
    vertical-align: middle;
    margin-bottom: 5px;
}

#musicIcon {
    background-image: url(../images/musical-notes.png);
}

#passwordIcon {
    background-image: url(../images/password.png);
}

#quizIcon {
    background-image: url(../images/checklist.png);
}

#surveyIcon {
    background-image: url(../images/survey.png);
}

#portfolioIcon {
    background-image: url(../images/folder-invoices.png);
}