* {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.nav {
    background-color: #22223B;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    text-align: center;
}


.nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav ul li {
    color: #F2E9E4;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s ease-in-out;
    width: max-content;
}

.nav ul li:hover {
    background: #4A4E69;
    cursor: pointer;
    transition: background .5s ease-in-out;
}

a:link {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}